# Dependencies
node_modules/

# Production
build/
dist/

# Coverage
coverage/

# Testing
src/setupTests.js
src/**/*.test.js
src/**/*.test.jsx
src/**/__tests__/
src/**/__mocks__/

# Config
*.config.js

